.dark-mode {
    background-color: black;
}
.light-mode{
    background-color: rgb(242, 235, 235);
}
button{
        border-radius: 45%;
        margin-left: 25%;
        margin-top: 20%;
        padding:20px 40px;
        border: 1px solid cadetblue;
        background-color:cadetblue;
        font-size: 20px;
}
i{
    margin-left: 40%;
    margin-top: 20px;
    font-size: 50px;
}
.darkicon{
    background-color: black;
    color:white;

}
